:root{
    --title-text-color:  rgba(73, 187, 187, 0.822);
    --dark-background:  rgba(31, 24, 36, 0.952);
}

*, *::after *::before, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 64.2%;
}
body {
    margin: 0;
    padding: 0;
}

.header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(45deg, rgb(70, 135, 179), rgb(33, 43, 46), rgb(29, 60, 88));
    color: var(--title-text-color);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-background);
}
.main-sid {
    flex-basis: 25%;
}
.main-sid .date {
    padding: 1em;
    text-align: center;
}

.todo-container {
    padding: 1em;
    text-align: center;
}

.todo-container .fa-calendar-plus{
    font-size: 5em;
    padding: .2em;
    color:rgba(73, 187, 187, 0.822);
    border-radius: 1em;
    box-shadow: 1px 1px 1px 1px rgb(70, 135, 179);
    cursor: pointer;
}
.addTodo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1em solid rgb(70, 135, 179);
    box-shadow: .5px .5px .5px .5px rgb(70, 135, 179);
    border-radius: 5em;
    margin: 1em auto;
    width: 200px;
    display: none;
}
.addTodo-container.show {
    display: flex;
}
.todo-input {
    border-radius: 5em;
}
.fa-plus {
    background:rgba(43, 159, 221, 0.822);
    font-size: 1.5em;
    border-radius: 5em;
    padding: .1em;
    margin-left: .5em;
}
.todo-list-container{
    background:rgb(16, 61, 75);
    height: 200px;
    display: none;
}
.todo-list-container.show{
    display: block;
}

/* calendar styling */

.calendar-container{
    flex-basis: 75%;
}
.calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 1em;
    background-image: linear-gradient(50deg, rgb(57, 101, 167), rgb(27, 44, 49), rgb(53, 79, 126));
    height: 8em;

}

.cur-month {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: var(--title-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
.month-change {
    display: flex;
    flex-direction: column;
    padding-left: .2em;
    justify-content: space-between;
    color: black;
    height: 80px;
    position: absolute;
    cursor: pointer;
}
/* .list-of-months {
    background: var(--dark-background);
    position: absolute;
    top: 20vh; left: 25%;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: none;
}
.list-of-months.show{
    display: grid;
}
.list-of-months .month{
    padding: .75em;
    color: aqua;
    margin: auto;
    text-transform: uppercase;
} */


.cur-year {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    font-size: 1.5em;
}
.cur-year p {
    padding: 0 .5em;
}
.cur-year .fas {
    cursor: pointer;
    padding: .5em;
    border-radius: 50%;
}
.cur-year .fas:hover {
    background: rgba(24, 79, 109, 0.671);
}
.week-days{
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
    background-image: linear-gradient(45deg, rgb(26, 41, 51), rgb(16, 61, 75), rgb(76, 88, 99));;
    height: 5em;
}
.weekend{
    color: red;
}
.week-days .day{
    border-right: .1em solid rgb(70, 135, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.month-days {
    display: grid;
    grid-template-columns: repeat(7, auto);
}
.month-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height:calc(100vh / 8);
    cursor: pointer;
}
.weekend{
    color: red;
}
.prev-month-day, 
.next-month-day{
    opacity: .5;
}
.month-days .today {
    background-color: rgb(45, 63, 49);
}