:root{
    --title-text-color:  rgba(73, 187, 187, 0.822);
    --dark-background:  rgba(31, 24, 36, 0.952);
}

*, *::after *::before, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 64.2%;
}
body {
    margin: 0;
    padding: 0;
}

.header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(45deg, rgb(70, 135, 179), rgb(33, 43, 46), rgb(29, 60, 88));
    color: var(--title-text-color);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-background);
}
.main-sid {
    flex-basis: 25%;
}
.main-sid .date {
    padding: 1em;
    text-align: center;
}

.todo-container {
    padding: 1em;
    text-align: center;
}

.todo-container .fa-calendar-plus{
    font-size: 5em;
    padding: .2em;
    color:rgba(73, 187, 187, 0.822);
    border-radius: 1em;
    box-shadow: 1px 1px 1px 1px rgb(70, 135, 179);
    cursor: pointer;
}
.addTodo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: .1em solid rgb(70, 135, 179);
    box-shadow: .5px .5px .5px .5px rgb(70, 135, 179);
    border-radius: 1em;
    width: 23%;
    height: 150px;
    display: none;
    position: absolute;
    top: 40vh;
    left: 1em;
    background: var(--dark-background);
    color: #f1f1f1;
}
.addTodo-container.show {
    display: flex;
}
.addTodo-container label {
    padding-top: .5em;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.todoInputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-inp {
    display: flex;
    flex-direction: column;
    width: 30px;
    font-size: .5em;
    border: none;
    height: 4em;
    margin-left: .5em;
}

.todo-inp, 
.date-inp  {
    border-radius: .5em;
}
.addTodo-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}
.cancel-add-todo{
    height: 3em;
    margin-left: .5em;
    border-radius: .5em;
    border: none;
    background:rgba(43, 159, 221, 0.822);
}
.addTodo-btn {
    background:rgba(43, 159, 221, 0.822);
    font-size: 3em;
    padding: .1em;
    width: 50px;
    border-radius: .5em;
}
.todo-list-container{
    background:rgb(16, 61, 75);
    height: 200px;
    /* display: none; */
    margin-top: 1em;
    border-radius: .5em;
    box-shadow: 1px 1px 6px 1px rgb(23, 138, 167);
}
.todo-list-container.show{
    display: block;
}
.todo-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-todo {
    width: 4em;
    height: 3em;
    font-size: 1em;
    margin-left: .5em;
    border-radius: 1em;
}
.todo-list {
    margin: 0;
    padding: 0;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    list-style: none;
}
.todo-list-title {
    color: #f1f1f1;
}

.todo-deleted {
    animation: slide 1s ease-out;
}
@keyframes slide {
    0% { left: 0 }
    100% {left: -10em}
}
/* calendar styling */

.calendar-container{
    flex-basis: 75%;
}
.calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 1em;
    background-image: linear-gradient(50deg, rgb(57, 101, 167), rgb(27, 44, 49), rgb(53, 79, 126));
    height: 8em;
}

.cur-month {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: var(--title-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
.month-change {
    display: flex;
    flex-direction: column;
    padding-left: .2em;
    justify-content: space-between;
    color: black;
    height: 80px;
    position: absolute;
    cursor: pointer;
}



.cur-year {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    font-size: 1.5em;
}
.cur-year p {
    padding: 0 .5em;
}
.cur-year .fas {
    cursor: pointer;
    padding: .5em;
    border-radius: 50%;
}
.cur-year .fas:hover {
    background: rgba(24, 79, 109, 0.671);
}
.week-days{
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
    background-image: linear-gradient(45deg, rgb(26, 41, 51), rgb(16, 61, 75), rgb(76, 88, 99));;
    height: 5em;
}
.weekend{
    color: red;
}
.week-days .day{
    border-right: .1em solid rgb(70, 135, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.month-days {
    display: grid;
    grid-template-columns: repeat(7, auto);
}
.month-day {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:calc(100vh / 8);
    cursor: pointer;
}
.month-day:hover {
    background: rgba(102, 196, 247, 0.192);
}
.weekend{
    color: red;
}
.prev-month-day, 
.next-month-day{
    opacity: .5;
}
.month-days .today {
    background-color: rgb(45, 63, 49);
}

.selected {
    border: 1px solid red;
}