:root{
    --title-text-color:  rgba(121, 24, 24, 0.822);
    --dark-background:  rgb(31, 24, 36);
}

*, *::after *::before, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 64.2%;
    font-family: 'Courier New', Courier, monospace;
}
body {
    margin: 0;
    padding: 0;
}
button {
    border: none;
    border-radius: .5em;
    cursor: pointer;
    background:rgba(20, 78, 109, 0.822);
}

/* header styling */
.header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(70, 135, 179), rgba(94, 207, 241, 0.836), rgb(29, 60, 88));
    color: var(--title-text-color);
}

/* Styling for both section todo and calendar */
.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-background);
    height: 80vh;
}

/* <==================================>  styling todo container  <==================================>*/

.main-sid {
    flex-basis: 25%;
    background-image: linear-gradient(-150deg, rgb(70, 135, 179), rgba(70, 145, 168, 0.836), rgb(29, 60, 88));
}

/* dat and clock container */
.main-sid .date {
    text-align: center;
}
.today-title {
    font-size: 1.5em;
    color: var(--title-text-color);
}
.today-date, .today-time {
    color: rgb(66, 40, 23);
    font-weight: bolder;
}

/* styling for todo container */
.todo-container {
    padding: .5em;
    text-align: center;
    position: relative;
}

/* button for display add todo container */
.todo-container .fa-calendar-plus{
    font-size: 3em;
    padding: .3em;
    color:rgba(88, 22, 6, 0.822);
    border-radius: 1em;
    box-shadow: 0px 0px 8px 3px rgb(70, 172, 179);
    cursor: pointer;
}

/* add to do container display none */
.addTodo-container{
    display: none;
}

/* add to do container display flex */
.addTodo-container.show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .1em solid rgb(70, 135, 179);
    box-shadow: 0px 0px 1px 2px rgb(70, 135, 179);
    border-radius: 1em;
    max-width: 400px;
    position: absolute;
    top: 0;
    left: 1em;
    right: 0.5em;
    background: var(--dark-background);
    color: #f1f1f1;
    height: 130px;
}

.addTodo-container > div {
    padding: .5em 0;
}

/* Add todo buttons */
.todoInputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.addTodo-title {
    padding-bottom: .5em;
    text-transform: uppercase;
    text-align: start;
    padding-left: 1em;
}

/* add to do input */
.addTodo-info{
    display: flex;
    max-width: 200px;
}
.todo-inp  {
    border-radius: .5em;
    padding: .2em;
    max-width: 150px;
}
.display-calender {
    display: none;
}
/* add todo buttons styling */
.addTodo-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .5em;
}
.addTodo-btn {
    font-size: 1.5em;
    padding: .5em;
    width: 30px;
    cursor: pointer;
}
.addTodo-btn:hover {
    background: rgb(20, 199, 101);
    color: rgb(19, 128, 218);
}
/* cancel todo input */
.cancel {
    color: rgba(90, 185, 209, 0.719);
    width: auto;
    margin-left: .5em;
    font-weight: bolder;
    color: rgb(245, 88, 88);
    padding: .5em
}
.cancel:hover{
    background: rgb(199, 56, 20);
    color: #f1f1f1;
}

/* styling for todo list  */
.todo-list-title {
    color: #f1f1f1;
    font-size: 1em;
}
.todo-list-container{
    background:rgb(16, 61, 75);
    height: 200px;
    margin-top: 1em;
    border-radius: .5em;
    box-shadow: 1px 1px 6px 1px rgb(23, 138, 167);
}

.todo-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    list-style: none;
    padding: .2em;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: .2em;
    background:rgba(22, 74, 90, 0.637);
    padding-left: .2em;
    font-weight: bold;
    border: none;
    border-radius: .3em;
    transition: all .5s ease;
}
/* add transition when deleting a todo */
.todo-deleted {
    transform: translateY(5rem) rotateZ(30deg);
    opacity: 0;
}
.delete-btn {
    background:rgba(226, 7, 7, 0.829);
    color: #f1f1f1;
    cursor: pointer;
}
.delete-btn:hover {
    color: rgba(226, 7, 7, 0.829);
    background:rgb(167, 187, 204)
}

/* <==================================>  calendar styling  <==================================>*/

.calendar-container{
    flex-basis: 75%;
    background-image: linear-gradient(135deg, rgb(48, 93, 122), rgba(41, 141, 168, 0.637),rgba(73, 170, 197, 0.322), rgb(29, 60, 88));
}
.calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 1em;
    height: 8em;
}

.cur-month {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: var(--title-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.month-change {
    display: flex;
    flex-direction: column;
    padding-left: .2em;
    justify-content: space-between;
    height: 80px;
    position: absolute;
}
.arrow { 
    cursor: pointer;
    padding: .3em;
    font-size: .8em;
}
.arrow:hover {
    transform: scale(2);
}
.cur-year {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    font-size: 1.5em;
    color: rgb(39, 24, 14);
    font-weight: bolder;
    color: var(--title-text-color);
}
.cur-year p {
    padding: 0 .5em;
}
.week-days{
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
    height: 2em;
}
/* weekend days  */
.weekend{
    color: red;
}
.week-days .day{
    border-right: .1em solid rgb(70, 135, 179);
    display: flex;
    align-items: center;
    justify-content: center;
}
.month-days {
    display: grid;
    grid-template-columns: repeat(7, auto);
}
.month-day {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height:calc(100vh / 8);
    cursor: pointer;
    border-radius: 1em;
    position: relative;
}

/* count of todos for each day */
.month-day .todo-count{
    background: rgba(136, 167, 235, 0.445);
    border-radius: 1em;
    float: left;
    font-size: .9em;
    padding: .2em;
    text-align: center;
    position: absolute;
    right: 2px;
    bottom: 5px;
}
/* count of todos for each today */
.month-day .todayTodos{
    background: rgba(250, 143, 100, 0.884);
    color: #f1f1f1;
}
.month-day:hover {
    background: rgb(20, 80, 112);
}
.weekend{
    color: red;
}
.prev-month-day, 
.next-month-day{
    opacity: .5;
}
.month-days .today {
    background-color: rgb(18, 179, 80);
}

/* style for the selected day */
.selected {
    border: 1px solid rgb(31, 236, 236);
}


/* hide the calendar */
@media  screen and (max-width: 414px) {
    .calendar-container {
      display: none;
    }
    .main-container {
        position: relative;
        min-height: 100vh;
    }
    .calendar-container.show{
        display: block;
        position: absolute;
        top: 0; left: 0;
        right: 0;
        bottom: 5em;
        background: var(--dark-background);
        height: max-content;
    }
    .addTodo-container {
        max-width: 400px;
    }
    .todo-inp {
        min-width: 100px;
    }
    .main-sid {
        flex-basis: 100%;
    }
    .display-calender {
        display: block;
        margin-left: .5em;
    }
    .day,
    .month-day {
        color: #f1f1f1b0;
    }
    .weekend {
        color: rgba(255, 0, 0, 0.678);
    }
  }